.error {
  display: flex;
  position: absolute;
  list-style: none;
  overflow: scroll;
  overflow-y: auto;
  border: 1px solid black;
  border-radius: 5px;
  flex-direction: column;
  row-gap: 5px;
  min-width: 150px;
  max-height: 200px;
  padding: 5px 10px;
  margin-top: 5px;
}
