.user {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: rgba(0, 0, 0, 0.5);
  height: 50px;
  gap: 0 20px;
  align-content: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.user:hover {
  box-shadow:
    0 5px 10px gray,
    -5px -10px 20px rgb(192, 221, 255);
  border-radius: 10px;
}

.user_option {
  display: flex;
  width: 100%;
  text-align: left;
  align-items: center;
  overflow: hidden;
  padding-left: 15px;
}
