.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #000;
  cursor: pointer;
  color: #000;
  text-align: center;
  padding: auto;
  border-radius: 8px;
  margin-left: 4px;
}

.button:hover {
  color: red;
  border-color: red;
}

.button:active {
  color: green;
  border-color: green;
}
